<div class='admin'>
  <a class='return' href='/admin/today'>{{backToToday}}</a>
  <a class='material-icons-round last-week'
    href='/admin/prev-week'>chevron_left</a>
  <p class='this-week'>{{week}}</p>
  <a class='material-icons-round next-week'
    href='/admin/next-week'>chevron_right</a>
  <div class='week'>
    {{#each day}}
    <div class='day {{this.status}}'>
      <h2>{{this.dateString}}</h2>
      <input type='button' class='material-icons-round' value='mode_edit' />
      {{#if this.working}}
      <div class='working'>
        <h3>Working</h3>
        {{#each this.working}}
      <button value={{this.employee_id}} class="material-icons-round clear">clear</button>
        <span class='waiter'>{{this.first_name}} {{this.last_name}}</span>
        {{/each}}
      </div>
      {{/if}}
      {{#if this.standby}}
      <div class='standby'>
        <h3>On standby</h3>
        {{#each this.standby}}
        <button value={{this.employee_id}} class="material-icons-round clear">clear</button>
        <span class='waiter'>{{this.first_name}} {{this.last_name}}</span>
        {{/each}}
      </div>
      {{/if}}
        <form class="admin-add" action="/admin/edit/{{date}}" method="POST">
          <select name="admin-add" id="admin-add">
            <option value="">Add waiter</option>
            {{#each available}}
            <option value="{{this.employee_id}}">{{this.first_name}} {{this.last_name}}</option>
            {{/each}}
          </select>
          <input type='button' class='material-icons-round' value='person_add' />
          <input type='submit' class='done' value='save'/>
        </form>
        {{#if this.working}}
      <input type='button' class='material-icons-round' value='expand_more' />
      {{/if}}
    </div>
    {{/each}}
  </div>
  <form class="reset" action="reset" method="POST">
    <input type="submit" value="Reset Schedule">
  </form>
</div>
<script src="/client.js" charset="utf-8"></script>