<div class="name">Hi {{waiter_name}}!</div>

<div class="{{today_status}} today"><h2>Today:</h2><span>{{today_date}}</span><span>{{today_status}}</span></div>

<div class="{{tomorrow_status}} tomorrow"><h2>Tomorrow:</h2><span>{{tomorrow_date}}</span><span>{{tomorrow_status}}</span></div>
<a class="shifts" href="/waiter/{{waiterID}}/schedule">view full schedule</a>
<a class="shifts" href="/waiter/{{waiterID}}/add">add shifts</a>
<a class="shifts" href="/waiter/{{waiterID}}/cancel">cancel shifts</a>